<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bil Management</title>
    <link rel="stylesheet" href="bil.css">
</head>
<body>
<h1>Fleet</h1>

<header>
    <nav>
        <div class="header-button-container">
            <a class="header-button" href="/bil">Fleet</a>
            <a class="header-button" href="/lejeaftaler">Lejeaftaler</a>
            <a class="header-button" href="/skaderapporter">Skaderapporter</a>
            <a class="header-button" href="/users">User Management</a>
        </div>
    </nav>
</header>

<!-- Car Table -->
<h2>Bil Oversigt</h2>
<table>
    <tr>
        <th colspan="8">ID</th>
        <th>Opdater Bil</th>
    </tr>
    <tr th:each="bil : ${biler}">
        <td th:text="${bil.vognnummer}"></td>
        <td colspan="7" style="text-align: center;">
            <img th:src="${bil.imageUrl}" alt="Bil imageURL" style="width: 700px; height: auto;" />
        </td>
        <td>
            <!-- Edit Car Form -->
            <form th:action="@{/bil/update/{vognnummer}(vognnummer=${bil.vognnummer})}" method="post">
                <input type="hidden" name="vognnummer" th:value="${bil.vognnummer}"/>

                <div class="form-row">
                    <div class="form-group">
                        <label for="model">Model:</label>
                        <input type="text" id="model" name="model" th:value="${bil.model}" required />
                    </div>
                    <div class="form-group">
                        <label for="maerke">Mærke:</label>
                        <input type="text" id="maerke" name="maerke" th:value="${bil.maerke}" required />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="aargang">Årgang:</label>
                        <input type="number" id="aargang" name="aargang" th:value="${bil.aargang}" required />
                    </div>
                    <div class="form-group">
                        <label for="farve">Farve:</label>
                        <input type="text" id="farve" name="farve" th:value="${bil.farve}" required />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="registreringsdato">Registreringsdato:</label>
                        <input type="date" id="registreringsdato" name="registreringsdato" th:value="${bil.registreringsdato}" required />
                    </div>
                    <div class="form-group">
                        <label for="stelnummer">Stelnummer:</label>
                        <input type="text" id="stelnummer" name="stelnummer" th:value="${bil.stelnummer}" required />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="udleveringslokation">Udleveringslokation:</label>
                        <input type="text" id="udleveringslokation" name="udleveringslokation" th:value="${bil.udleveringslokation}" required />
                    </div>
                    <div class="form-group">
                        <label for="staalpris">Stålpris:</label>
                        <input type="number" id="staalpris" name="staalpris" th:value="${bil.staalpris}" required />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="regAfgift">Reg. Afgift:</label>
                        <input type="number" id="regAfgift" name="regAfgift" th:value="${bil.regAfgift}" required />
                    </div>
                    <div class="form-group">
                        <label for="co2Udledning">CO2 Udledning:</label>
                        <input type="number" id="co2Udledning" name="co2Udledning" th:value="${bil.co2Udledning}" required />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="km">Kilometerstand:</label>
                        <input type="number" id="km" name="km" th:value="${bil.km}" required />
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Image URL:</label>
                        <input type="text" id="imageUrl" name="imageUrl" th:value="${bil.imageUrl}" placeholder="Image URL" required />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="udlejet">Udlejet?</label>
                        <input type="checkbox" id="udlejet" name="udlejet" value="true" th:checked="${bil.udlejet}">
                    </div>
                </div>

                <button type="submit" class="opdater-bil-knap">Opdater bil</button>
            </form>


        </td>
    </tr>
</table>


<!-- Create New Car Form -->
<h2>Opret Bil</h2>
<form action="/bil/create" method="post">
    <input type="text" name="model" placeholder="Model" required>
    <input type="text" name="maerke" placeholder="Mærke" required>
    <input type="number" name="aargang" placeholder="Årgang" required>
    <input type="text" name="farve" placeholder="Farve" required>
    <input type="date" name="registreringsdato" required>
    <input type="text" name="stelnummer" placeholder="Stelnummer" required>
    <input type="text" name="udleveringslokation" placeholder="Udleveringslokation" required>
    <input type="number" name="staalpris" placeholder="Stålpris" required>
    <input type="number" name="regAfgift" placeholder="Registreringsafgift" required>
    <input type="number" name="co2Udledning" placeholder="CO2 Udledning" required>
    <input type="number" name="km" placeholder="Kilometer" required>


    <input type="text" name="imageUrl" placeholder="Image URL" required />



    <button type="submit" class="opret-bil-knap">Opret Bil</button>
</form>

<!-- Delete Car Form -->
<h2>Slet Bil</h2>
<form action="/bil/delete" method="post">
    <label for="vognnummer">Vælg den bil som du vil slette:</label>
    <select name="vognnummer" id="vognnummer" required>
        <option value="" disabled selected>Vælg bil</option>
        <option th:each="bil : ${biler}" th:value="${bil.vognnummer}" th:text="${bil.model}"></option>
    </select>
    <button type="submit" class="slet-bil-knap">Slet Bil</button>
</form>


<footer>
    <nav>
        <div class="footer-button-container">
            <a class="button" href="/bil">Fleet</a>
            <a class="button" href="/lejeaftaler">Lejeaftaler</a>
            <a class="button" href="/skaderapporter">Skaderapporter</a>
            <a class="button" href="/users">User Management</a>
        </div>
    </nav>
</footer>
</body>
</html>